.weather-card {
  position: relative;
  height: 80px;
  margin-top: 28px;
  background-color: #00a3ff;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-position: right center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.weather-card__temp {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
  margin: 0 0 0 16px;
}

.weather-card--day-sunny {
  background-image: url('/images/weather-card.svg');
}

.weather-card--day-cloudy {
  background-image: url('/images/weather-day-cloudy.svg');
}

.weather-card--day-rain {
  background-color: #6ca6c7;
  background-image: url('/images/weather-day-rain.svg');
}

.weather-card--day-snow {
  background-color: #6ca6c7;
  background-image: url('/images/weather-day-snow.svg');
}

.weather-card--day-storm {
  background-color: #6ca6c7;
  background-image: url('/images/weather-day-storm.svg');
}

.weather-card--day-fog {
  background-color: #6ca6c7;
  background-image: url('/images/weather-day-fog.svg');
}

.weather-card--night-sunny {
  background-color: #286897;
  background-image: url('/images/weather-night-sunny.svg');
}

.weather-card--night-cloudy {
  background-color: #286897;
  background-image: url('/images/weather-night-cloudy.svg');
}

.weather-card--night-rain {
  background-color: #286897;
  background-image: url('/images/weather-night-rain.svg');
}

.weather-card--night-snow {
  background-color: #286897;
  background-image: url('/images/weather-night-snow.svg');
}

.weather-card--night-storm {
  background-color: #286897;
  background-image: url('/images/weather-night-storm.svg');
}

.weather-card--night-fog {
  background-color: #286897;
  background-image: url('/images/weather-night-fog.svg');
}
