.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px 24px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
